// 设置背景为透明
[class^=el-table],
[class^=el-input],
// [class^=el-button],
// .el-button--default,
[class^=el-checkbox],
.el-input .el-input__count .el-input__count-inner,
.el-table th, 
.el-table tr,
.el-table__body tr.current-row > td
.el-table--border::after, .el-table--group::after, .el-table::before,
.el-cascader__dropdown.el-popper[role=tooltip],
.el-select__popper.el-popper[role=tooltip],
.el-pagination button:disabled
{background-color: transparent;}

// 模糊背景与边框
.el-cascader__dropdown.el-popper[role=tooltip],
.el-select__popper.el-popper[role=tooltip],
.el-message-box,
body.black .el-dialog
{backdrop-filter: saturate(180%) blur(20px);border-color: var(--borderColor);
    background-color: var(--bgMask);
}

// .el-pagination
.el-pagination button:disabled{color: var(--textGray);}

.el-cascader-menu{border-right-color: var(--borderColor);color: var(--textColor);}
.el-cascader-node:not(.is-disabled):focus, .el-cascader-node:not(.is-disabled):hover{background-color: var(--bgHover);}
.el-popper.is-light .el-popper__arrow::before{background-color: transparent;border-color: var(--borderColor);}
.el-cascader__tags .el-tag{background-color: var(--bgHover);}
.el-cascader__dropdown.el-popper[role=tooltip] .el-popper__arrow::before{border-color: var(--borderColor);}

// 鼠标经过的背景
.el-table--enable-row-hover .el-table__body tr:hover>td
{background-color: var(--bgHover);}

// el-select
.el-select:hover .el-input__inner, .el-slider__runway.disabled .el-slider__button{border-color: var(--borderColorDeep);}
.el-select-dropdown__item{color: var(--textColor);}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{background-color: var(--bgHover);}
.el-select__popper.el-popper[role=tooltip] .el-popper__arrow::before{border-color: var(--borderColor);}

// 选中时的背景颜色
.el-table__body tr.current-row>td{background-color: var(--bgCheck);}

// 边框颜色
.el-table td, .el-table th.is-leaf
{border-color: var(--borderColor);}

// table
.el-table{color: var(--textColor);}
.el-table thead{color: var(--textGray);}

// form
.el-form-item__label{color: var(--textColor);}
.el-form--inline .el-form-item{margin-bottom: 0;}

.el-message{min-width: auto;}

// .el-message-box
// 黑色主题下的颜色
body.black {
    .el-message-box{background-color: var(--bgMask);
        .el-message-box__title{color: var(--textColor);}
        .el-message-box__headerbtn .el-message-box__close{color: var(--textColor);}
        .el-message-box__content{color: var(--textGrayDeep);}
    }

    .el-dialog{background-color: var(--bgMask);border:1px solid var(--borderColor);}
}

// dialog
.el-dialog{
    .el-dialog__body{color: var(--textColor);}
    .el-dialog__title,.el-dialog__headerbtn .el-dialog__close{color: var(--textColor);}
}

// el-pager
.el-pager li{@apply bg-transparent;}

// radio
.el-radio{color: var(--textColor);}

// el-popper
.el-popper{max-width: 360px;}

// tabs
.el-tabs__item{color: var(--textGray);padding: 0 !important;}
.el-tabs__header{margin-bottom: 0;}
.el-tabs__nav-wrap::after{background-color: var(--R8);height: 1px;}
.el-tabs__active-bar{height: 1px;}

// el-button
.el-button:focus, .el-button:hover{@apply bg-blue-12 border-blue-50;}
.el-button--primary:focus, .el-button--primary:hover{@apply bg-blue-80 border-transparent;}
.el-button--default{@apply bg-transparent;color: var(--textColor);border-color: var(--borderColor);}
.el-button.is-disabled{opacity: .7;}
.el-button--danger.is-plain{background-color: rgb(243 118 118 / 10%);border-color: rgb(226 98 98 / 30%);}
.el-button--primary.is-plain{
    background-color: rgb(73 149 234 / 10%);
    border-color: rgb(40 138 241 / 30%);
}

// input
.el-input__inner{
    border-color: var(--borderDeep);color: var(--textColor);
    border-left:none;
    border-top:none;
    border-right:none;
    border-radius: 0;
    padding: 0 8px;
    &:hover{border-color: var(--R40);}
    &:focus{border-color: var(--main);}
    &::-ms-input-placeholder {color:var(--textGrayLight);}
    &::-webkit-input-placeholder {color:var(--textGrayLight);}
    &:-moz-placeholder { color: var(--textGrayLight);}
    &::-moz-placeholder { color: var(--textGrayLight);}
    &:-ms-input-placeholder { color: var(--textGrayLight);}
}
.el-input .el-input__count{color: var(--textGrayDeep);}

// checkbox
.el-checkbox__inner{border-color: var(--R40);}
.el-checkbox__label, .el-checkbox__input.is-checked+.el-checkbox__label{color: var(--R70);}
.el-checkbox__input.is-disabled .el-checkbox__inner{background-color: var(--R8);}
// 禁用
.el-checkbox.is-disabled {
    .el-checkbox__inner{
        border-color: var(--R20);
    }
    .el-checkbox__label{color: var(--R40) !important;}
}