.newUser{width:90%;height: 100%;position: absolute;left:0;top:0;padding:26px 5% 0;line-height: 1;
	background-color: white;
		.topTit{margin-bottom: 50px;height: 50px;
			h4{font-size:16px;margin-bottom: 10px;font-weight: normal;}
			h1{font-size:22px;}
			p{margin-top:13px;}
			p span{color:$red;}
		}
		.con{font-size: 16px;
			p{font-size: 12px;}
			label,.label{display: block;border-bottom:1px solid $e6;
				span{width: 50px;display: inline-block;border-right:1px solid $e6;}
				input{font-size: 16px;line-height: 16px;height: 16px;padding:12px 0 12px 10px;border:none;}
			}
			.submit{margin-top:15px;}
		}
		.prompt{margin:15px 0 18px;text-align: center;
			a{color:$red;margin-top:9px;display: block;}
		}
	}
