:root{
  --main: #6054FF;
  --blockBg: white;
  
  --red: #d03050;
  --gray: #808080;
  --green: green;
  --yellow: #FF9301;

  --formRed: #ff4d4f;

  --space: 15px;
}

.main{color: var(--main);}
.red{color: var(--red);}
.gray{color: var(--gray);}
.yellow{color: var(--yellow);}
