@import './color.scss';
@import './vant.scss';

textarea{line-height: 1.5 !important;background-color: transparent;outline: none;color: white;}
input{background-color: transparent;outline: none;border: none;color: white;}
html{overflow: hidden;}
// #app{background-color: #BE72FF;}
p,ul,li,h1,h2,h3,h4,h5,h6{margin:0; padding:0;}
ol{margin: 0;}
i{font-style: normal;}
::-webkit-scrollbar{width: 0;display: none;}


body,html,#app{height: 100%;margin:0;padding: 0;color: white;}
